:root{

/* branded color pallete in line with personal site*/
    --meddarkviolet: #5F688D;
    --darknavy: #222532;
    --darkteal: #00C2CB;
    --lightteal: #5CE1E6;
    --periwinkle: #A6B6F8;
    --purple: #8C52FF;
    --darkpurple: #6525E4;


    background-color: #5F688D;
/* Set root font size to 80% of standard browser font size*/
    font-size: 65%;
}

*{
/* include width of border in calculated size of box */
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: #ffffff;

}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 6rem;
    color: #A6B6F8;
    margin-bottom: 5rem;
}

h1 span{
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 5rem;
    font-weight: 700;
}

h3 {
    font-size: 4rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

/* Utility Classes */

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 10rem;
    margin-bottom: 2rem;
    flex-direction: column;
}

.homepage-header{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 10rem;
    margin-bottom: 2rem;
    flex-direction: column;
}

.homepage-header h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}


  
.homepage-header::after {
    display: flex;
    width: 100vw;
    height: 100vh;
  }

.homepage-footer {
    text-align: center;
  }
  
.homepage-footer::before {
    display: flex;
  }
  
.homepage-footer::after {
    display: flex;
  }
  
.start-quiz-btn {
    border: none;
    background-color: #6525E4;
    border-radius: 1.6rem;
    box-shadow: #222532;
    color: #ffffff;
    display: inline-block;
    font-size: 3rem;
    line-height: 1.4rem;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
  }

  .nav-btn {
    border: none;
    background-color: #ffffff;
    border-radius: 1.6rem;
    box-shadow: #222532;
    color: #222532;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
  }

  .scoreboard ul {
   list-style: none;
   margin: 0;
   padding: 0;
  }

  .scoreboard li {
    display: inline-block;
    margin: .3rem;
  }

  .quiz-timer {
    background-color: #6525E4;
    text-align: center;
    border-radius: 1.6rem;
    font-weight: 700;
  }

  btn {
    top: 1rem;
    left: 2rem;
  }